[
  {
    "relation": [
      "delegate_permission/common.handle_all_urls"
    ],
    "target": {
      "namespace": "android_app",
      "package_name": "app.netlify.mybuddy2.twa",
      "sha256_cert_fingerprints": [
        "37:89:C1:C6:DD:F2:7D:CB:4F:6D:8F:0C:17:D0:26:57:78:BE:21:E2:D2:AC:B7:73:33:88:98:77:97:7A:36:EA"
      ]
    }
  }
]
